body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('fahrenheit-x-celsius.png');
    background-color: #000000;
    background-size: 380px;
    background-position: center bottom;
    background-repeat: no-repeat;
  }

  h2 {
      color: white;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
    padding-bottom: 20px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .temperatura {
      color: white;
  }

  #resultado {
      color: white;
      font-size: 18px;
  }

  input {
      width: 50px;
  }

  #converter {
      width: 100px;
      height: 35px;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      font-family: 'Roboto Mono',monospace;
      font-size: 15px;
  }